.lista-titulo {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 35px;
  color: #212529;
}
.button-Entradas {
  background: #e9ecef;
  /* grey-2 */

  width: 87px;
  height: 40px;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* grey-3 */

  color: #868e96;
}
.button-Entradas:hover {
  background: #868e96;
  /* grey-3 */

  border: 1.4px solid #868e96;
  box-sizing: border-box;
  border-radius: 8px;
  color: #f8f9fa;
}
.button-Despesas {
  background: #e9ecef;
  /* grey-2 */

  width: 87px;
  height: 40px;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* grey-3 */

  color: #868e96;
}
.button-Despesas:hover {
  background: #868e96;
  /* grey-3 */

  border: 1.4px solid #868e96;
  box-sizing: border-box;
  border-radius: 8px;
  color: #f8f9fa;
}
.button-Todos {
  background: #e9ecef;
  /* grey-2 */

  width: 69px;
  height: 40px;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* grey-3 */

  color: #868e96;
}
.button-Todos:hover {
  background: #868e96;
  /* grey-3 */

  border: 1.4px solid #868e96;
  box-sizing: border-box;
  border-radius: 8px;
  color: #f8f9fa;
}
.div-buttons {
  display: flex;
  width: 312px;
  height: 59px;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 34px;
  justify-content: space-evenly;
}
#ativo {
  /* color-primary */

  background: #fd377e;
  /* color-primary*/
  border: 2px solid #fd377e;
  box-sizing: border-box;
  border-radius: 8px;
  color: #f8f9fa;
}

@media screen and (min-width: 1036px) {
  .section-buttonsFilter {
    display: flex;
    margin-left: 50vw;
    margin-top: -575px;
    align-items: flex-end;
  }
}
